{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"organizeImportsSkipDestructiveCodeActions": true,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-organize-imports",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-pkg"
	],
	"pluginSearchDirs": false,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
