@tailwind base;
@tailwind components;
@tailwind utilities;

/* via https://fontsgeek.com/fonts/Nasalization-Extended-Light-Regular */
/* and https://transfonter.org */
@font-face {
	font-family: 'Nasalization Extended';
	src: url('/fonts/nasalization/nasalization-extended-light.woff2') format('woff2'),
		url('/fonts/nasalization/nasalization-extended-light.woff') format('woff'),
		url('/fonts/nasalization/nasalization-extended-light.ttf') format('truetype');
	/* TODO good idea? */
	font-display: fallback;
}

/* @property --backgroundGradientAngle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
} */

body,
html {
	width: 100%;
	height: 100%;
	background: theme(colors.vm-magenta);
	overscroll-behavior: none; /* for safari mobile */
}

body {
	position: fixed; /* for safari mobile */

	/* var(--backgroundGradientAngle), 0deg, */
	background: linear-gradient(theme(colors.vm-magenta) 0%, theme(colors.vm-blue) 100%);
	/* background: -webkit-linear-gradient(red, green, blue); */

	/* too slow on safari? */
	/* animation: spin 30s infinite linear; */
}

@keyframes spin {
	to {
		--backgroundGradientAngle: 360deg;
	}
}

::selection {
	color: white;
	background: theme('colors.vm-magenta');
}

/*
* {
	touch-action: manipulation;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
} */
